<form class="form form-discount deliver-later-form">
    <div class="payment-option-inner">\
        <?php
            /**
            *
            * Get times as option-list.
            *
            * @return string List of times
            */
        function get_times( $default = '19:00', $interval = '+30 minutes' ) {
        
            $output = '';
        
            $current = strtotime( '16:00' );
            $end = strtotime( '22:00' );
        
            while( $current <= $end ) {
                $time = date( 'H:i', $current );
                $sel = ( $time == $default ) ? ' selected' : '';
        
                $output .= "<option value=\"{$time}\"{$sel}>" . date( 'h.i A', $current ) .'</option>';
                $current = strtotime( $interval, $current );
            }
        
            return $output;
        }
        ?>
        <select name="comment-code"><?php echo get_times(); ?></select>
        <!--
        <div class="field" data-bind="css: comment.css()">
            <label class="label">
                <span data-bind="i18n: 'Enter comment'"></span>
            </label>
            <div class="control">
                <textarea class="input-text order-comment order-comment-input" name="comment-code" rows="4" data-bind="value: comment,valueUpdate: 'afterkeydown',attr:{placeholder: $t('Enter your comment...')} " ></textarea>
                <p data-bind="if: hasMaxLength()">Remaining characters: <span class="deliver-later-form__characters" data-bind="text: remainingCharacters"></span></p>
            </div>
        </div>
        -->
    </div>
</form>
