<div class="payment-option _collapsible opc-payment-additional comment last"
     data-bind="mageInit: {'collapsible':{'openedState': '_active', 'active': true}}">

    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" role="heading" aria-level="2">
            <!-- ko i18n: 'When would you like your pizza delivered?'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko template: 'ParamountVentures_DeliverLater/checkout/form-content' --><!-- /ko -->
    </div>
</div>
